table{
    margin: auto;
    width: 1300px;
    
}

td{
    height: 60px;
}

table,td,th{
    padding: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(even){
    background-color: #cccccc80;
}
th{
    width: 225px;
    height: 18px;
    font-weight: bolder;
    font-size: large;
}
#time-header{
    width:150px;
}

#date-picker{
    height: 40px;
    font-size: 20px;
    right: 60%;
    font-weight: bold;
    text-align: center;
    float: right;
    position: relative;

    border-width: 1px;
    background-color: transparent;
}
#accept-date{
    width: 40px;
    height: 40px;
    border-width: 1px;
    background-color: transparent;

    background-image: url(../images/tick.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;

    
    right: 60%;
    float: right;
    position: relative;
}


.full{
    background-color: rgba(255, 0, 0, 0.626);
}
.booked{
    background-color: rgba(0, 199, 0, 0.614);
}
.used{
    padding: 0px;
}
.used > form{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.cell_button{
    width: 100%;
    margin: 0px;
    height: 100%;
    background-color: transparent;
    color: transparent;
    border:none;
    cursor:pointer;
}
.cell_button:hover{
    background-color: #93939348;
}


#calendar-menu{
    height: 50px;
    width:1250px;
    margin:auto;
    display: block;
}

.dropdown{
    position: relative;
    float: right;
}

#leftIcon{
    float: left;
    position: relative;
    left: 10px;
}

form{
    padding: none;
}

#leftIcon > button, #rightIcon > button{
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.time{
    margin: auto;
    padding: 6px;
    font-weight: bold;
    vertical-align: top;
}

#rightIcon{
    float: right;
    position:relative;
    cursor: pointer;
}