/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #fff4d7;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: solid;
    border-color:#f9c623;
    border-width: 2px;
    outline: none;
    transition: 0.4s;
    font-size: 16px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #f9c623;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 0px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/* Add + and - to accordion */

.accordion:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-check-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath d='M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z'/%3E%3C/svg%3E") '\00a0\00a0' attr(status-completed) '\00a0\00a0\00a0' url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") '\00a0\00a0' attr(status-incomplete) '\00a0\00a0\00a0' url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E") '\00a0\00a0' attr(status-followup) '\00a0\00a0\00a0' url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pencil' viewBox='0 0 16 16'%3E%3Cpath d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z'/%3E%3C/svg%3E") '\00a0' attr(status-unsigned) '\00a0\00a0\00a0\00a0\00a0\00a0' '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}


/* 

############## TABLEEEEEE #####################

*/

table {
    font-family: arial, sans-serif;
    border: solid;
    border-color:#f9c623;
    border-width: 2px;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #fff4d7;
}

span.complete, td.complete {
    color:green;
}

span.incomplete, td.incomplete {
    color:red;
}

span.warning, td.warning {
    color:blue;
}
/* Task Alerts */

/* .alert.success {
    background-color: #04AA6D;
} */

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #04AA6D;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/* Task Header */

.task-header {
    padding-top: 85px;
    text-align: center;
}

/* Smooth Scrolling so tasks arent teleported to */

html {
    scroll-behavior: smooth;
}


.task-description {
    width: 65%
}



/* override statcard colors for cbt&a tasks */

h3 {
    background-color: #f9c623;
    text-align: center;
}

.stat-card {
    background-color: #fff4d7 !important;
    border-color:  #f9c623 !important;
    border-width: 2px !important;
    color: black !important;
}

.stat-card p {
    font-size: 15px !important;
}

.stat-card * {
    color: black !important;
    border-color: #f9c623 !important;
    border-width:2px;
}

.stat-card tr:nth-child(even) {
    background-color: white
}

.stat-card input {
    background-color: #f9c623 !important;
}

.stat-card button {
    background-color: #f9c623 !important;
}



/* fieldset icon explanations */

fieldset {
    border-width: 2px;
    border-color:#f9c623;
    border-style: solid;
    margin-left: 0px;
    margin-right: 0px;
}