body {
    background-color: #f7f9fc;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    text-align: center;

    margin-bottom: 40px;
    color: #4a4a4a;
    font-size: 24px;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
} 

.lesson-progress{
    background-color: #4CAF50;
    font-weight: bold;
    color: white;
    align-self: auto;
    margin-top: 5px;
    padding: 15px 20px;
    width: 15%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
#tab{
    margin: auto;
    width: 30%;
}
.lesson-buttons{
    background-color: #4CAF50;
    font-weight: bold;
    color: white;
    margin: auto;
    padding: 15px 20px;
    display: block;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

input[type="submit"] {
    display: block;
    width: 40%;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}