body {
    font-family: 'Arial', sans-serif;
    background-color: #606060;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}
ul{
    padding: 0px;
    width: 80%;
    margin: auto;
    margin-left:0px;
}

input[type=submit] {
    background-color: #4CAF50;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    padding: 15px 20px;
    width: 50%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.centered{ /*to allign submit button to centre*/
    text-align: center;
    margin-left: 90px;
}

input{
    border: solid 1px;
    border-color: #b9b9b9;
    background-color: rgb(218, 218, 218);
}

h1 {
    color: #333;
    font-weight: normal;
    margin-bottom: 30px;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    list-style: none;
}

.button-link {
    background-color: #4CAF50;
    color: #fff;
    padding: 6px 25px;
    border: none;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 50%;
}

.button-link:hover {
    background-color: #45a049;
}

#mySAGOV_link {
    width: 50%;
}

#register-details{
    text-align: right; 
    clear: both; 
    margin-bottom: 10px;
}