/* SIDEBAR STYLING */
#sidebar {
    position: fixed;
    float: left;
    overflow: hidden;
    transition: width 0.5s ease;
    height: 100vmin;
    top: 70px;
    background-color: #f7f7f7;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 9;
  }
  
  #sidebar > ul {
    list-style-type: none;
    padding:0px;
    margin:0px;
    text-align: center;
  }
  
  #sidebar > ul > li {
    height: 50px;
    border-bottom:#000;
    border-bottom-width: 3px;
    border-bottom-style:solid;
  }
  
  #sidebar > ul > li:hover{
    background-color:#777;
  }
  
  #sidebar > ul > .selected{
    background-color: #999;
  }
  
  #sidebar > ul > li > a {
    width:100%;
    height:100%;
    line-height: 300%;
    position: relative;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: auto;
    display: block;
  }
  
  /* SIDEBAR STYLING */

  #banner {

    background-color: white;
    height: 30px;
    padding: 20px 0;
  
    color: #363636;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
  
    position:fixed;
    width: 100vmax;
    top: 0px;
    z-index: 10;
    
    border-bottom-style:solid;
    border-width: 3px 0px;
    border-image:   linear-gradient(to right, #004b88 33.33%, #fbae1d 33.33%, #fbae1d 66.66%,#ec164b 66.66%) 3; 
    display: inline;
  }

  #menuIcon {
    float: left;
    position: relative;
    left: 15px;
    cursor: pointer;
  }
  
  #profileIcon {
    float: right;
    position: absolute;
    right: 200px;
    top: 15px;
  }
  
  #banner-username {
    color: #363636;
    font-weight: bold;
    position: absolute;
    float: right;
    right: 40px;
    top: 20px;
  }