body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body > #content {
  top:70px;
  position:relative;
  transition: margin-left 0.5s ease;
  padding: 20px;
  margin:auto;
}

.tab {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown{
  display: inline;
}

.dropbtn {
  background-color: #f1f1f1;

  border-style: solid;
  border-width: 1px;
  
  border-color: black;
  border-radius: 0;
  width: 222px;
  font-size: 16px;

  
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 20px;
  margin: 0px;
}
.dropbtn:hover{
  background-color: #808181;
}

.dropbtn.show{
  border-bottom-width: 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content > a:hover{
  background-color: #808181;
}

.show {
  display:block;
}

.dropdown-content > a{
  width:100%;
  height: 25px;
  position: relative;
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
  padding-top: 5px;

  border-width: 1px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
}


.stats-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.stat-card {
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stat-card h3 {
  margin-top: 0;
  margin-bottom:10px;
  font-size: 24px;
  color: #333;
}

.stat-card p {
  font-size: 20px;
  margin-top:10px;
  margin-bottom: 5px;
  color: #777;
}

.stat-card ul {
  margin-top: 0px;
}

/* Progress Bars */

.w3-light-grey {
  color: #000 !important;
  background-color: #f1f1f1 !important
}

.w3-container {
  padding:0.01em 16px
}

.w3-green {
  color: #fff !important;
  background-color: #4CAF50 !important
}

/* .w3-center {
  display: inline-block;
  width: auto
} */

.w3-center {
  text-align: center !important
}

/*profile page styling*/
#profile-content {
  width: 20%; /*make width relative to screen size?*/
  padding: 20px;
  margin-top: 6%;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
}

p.detail {
  text-align: center;
}

#button-container{
  text-align: center;
  margin-left: 50%; /*why no centre????*/
}

#updateProfile{
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  width: 130px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

#updateProfile:hover {
  background-color: #0056b3; 
}

#editButton {
  background-color: #28a745;
  line-height: 1.5;
  color: white;
  padding: 10px 20px;
  width: 130px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
#editButton:hover {
  background-color: #1e8d1e; 
}
#container {
  text-align: center;
  margin: 20px auto;
}
/*end of profile page styles*/