body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


#menuIcon {
  float: left;
  position: relative;
  left: 10px;
  cursor: pointer;
}

#profileIcon {
  float: right;
  position: relative;
  right: 30px;
  fill: white;
  bottom: 30px;
}

#banner-username {
  color: #bfbfbf;
  font-weight: bold;
  position: relative;
  float: right;
  right: 20px;
  bottom: 25px;
}

body > #content {
  top:70px;
  position:relative;
  transition: margin-left 0.5s ease;
  padding: 20px;
  margin:auto;
}


.tab {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#banner {
  background-color: #333;
  color: #fff;
  height: 30px;
  padding: 20px 0;
  text-align: center;
  font-size: 24px;
  position:fixed;
  width: 100vmax;
  top: 0px;
  z-index: 10;
}

/* SIDEBAR STYLING */
#sidebar {
  position: fixed;
  float: left;
  overflow: hidden;
  transition: width 0.5s ease;
  height: 100vmin;
  top: 70px;
  background-color: #f7f7f7;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 9;
}

#sidebar > ul {
  list-style-type: none;
  padding:0px;
  margin:0px;
  text-align: center;
}

#sidebar > ul > li {
  height: 50px;
  border-bottom:#000;
  border-bottom-width: 3px;
  border-bottom-style:solid;
}

#sidebar > ul > li:hover{
  background-color:#777;
}

.selected{
  background-color: #999;
}

li > a {
  width:100%;
  height:100%;
  line-height: 300%;
  position: relative;
  text-decoration: none;
  color: black;
  text-align: center;
  margin: auto;
  display: block;
}

/* 
#sidebar li {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 30px;
  background-color: #ff6633;
  transform-origin: right;
  transition: transform 0.5s;
}

#sidebar li:hover {
  transform: scaleX(1);
  transform-origin: left;
}
*/

/* SIDEBAR STYLING */

.stats-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.stat-card {
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stat-card h3 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.stat-card p {
  font-size: 20px;
  color: #777;
}



/* Progress Bars */

.w3-light-grey {
  color: #000 !important;
  background-color: #f1f1f1 !important
}

.w3-container {
  padding:0.01em 16px
}

.w3-green {
  color: #fff !important;
  background-color: #4CAF50 !important
}

/* .w3-center {
  display: inline-block;
  width: auto
} */

.w3-center {
  text-align: center !important
}